.div-header{
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.header{
    font-size: 3.5rem;
    font-family:arial;
}

@media (max-width: 768px) {
  .header {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  .header {
    font-size: 2rem;
  }
}